@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1655959980890') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e69a";
}

.icon-duigou:before {
  content: "\e65d";
}

.icon-youjiantou:before {
  content: "\f034f";
}

.icon-dxbf:before {
  content: "\e8b6";
}

.icon-dxxz:before {
  content: "\e609";
}

.icon-dxwx:before {
  content: "\e64a";
}

.icon-editor:before {
  content: "\e6f6";
}

.icon-pic:before {
  content: "\e6ff";
}

.icon-arrow-right:before {
  content: "\e743";
}

.icon-arrow-left:before {
  content: "\e744";
}

.icon-arrow-up:before {
  content: "\e745";
}

.icon-ashbin:before {
  content: "\e746";
}

.icon-close1:before {
  content: "\e747";
}

.icon-email:before {
  content: "\e74f";
}

.icon-loading:before {
  content: "\e756";
}

.icon-seleted:before {
  content: "\e763";
}

.icon-set:before {
  content: "\e76c";
}

.icon-exchangerate:before {
  content: "\e772";
}

.icon-collection:before {
  content: "\e79d";
}

.icon-add-select:before {
  content: "\e7b0";
}

.icon-sami-select:before {
  content: "\e7b1";
}

.icon-arrow-down:before {
  content: "\e7b2";
}

.icon-favorites:before {
  content: "\e7b3";
}

.icon-search:before {
  content: "\e7b4";
}

.icon-arrow_right_fat:before {
  content: "\e62c";
}

.icon-juxing1604:before {
  content: "\e628";
}

.icon-zu323:before {
  content: "\e62a";
}

.icon-duoxuanbufenxuanzhong:before {
  content: "\e608";
}

